<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="Cryptify">
            <h1>Criptify</h1>
        </div>
        <h1> The All in One Industry Leading Cryptographic Cipher Tool</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
        <footer>
            <p>&copy;CyberSecure 2024</p>
        </footer>
    </main>
</body>
</html>
