{% extends 'base.html' %}

{% block content %}
<div class="form-container">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
            {{ form.text.label }}<br>
            {{ form.text(size=50) }}
        </div>
        <div>
            {{ form.key.label }}<br>
            {{ form.key(size=50) }}
        </div>
        <div>
            {{ form.operation.label }}<br>
            {{ form.operation() }}
        </div>
        <div>
            {{ form.cipher.label }}<br>
            {{ form.cipher() }}
        </div>
        <div>
            {{ form.generate_rsa_keys.label }}<br>
            {{ form.generate_rsa_keys() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</div>
{% endblock %}
